* {
  padding: 0;
  margin: 0;
}

/* mobile version */
@media only screen and (max-width : 1299px) {
  * {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  body {
    display: flex;
    flex-direction: column;
  }

  #maincontent {
    display: flex;
    flex-direction: column;
    align-self: center;
     width: 80vw;
    height: 80vw;
    padding-bottom: 10px;
    }

  #maincontenttitel {
    font-size: 12vw;
    color: red;
    margin: 2px;
    font-family: helvetica;
    overflow-y: hidden;
  }

  #maincontenttext {
    font-size: 12vw;
    font-family: helvetica;
    overflow-y: hidden;
    direction: rtl;
  }

  #maincontenttext p {
    text-decoration: none !important;
    outline: none;
    border: 0;
  }


}

/* desktop version */
@media only screen and (min-width : 1300px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #maincontent {
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow-y: hidden;
    width: 20vw;
    height: 20vw;
    padding-right: 10px;
    padding-left: 10px;

  }

  #maincontenttitel {
    font-size: 3em;
    color: red;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: helvetica;
    overflow-y: hidden;
  }

  #maincontenttext {
    font-size: 3em;
    margin: 10px;
    font-family: helvetica;
    overflow-y: hidden;
    direction: rtl;
  }


}
