* {
  padding: 0;
  margin: 0;
}

/* mobile version */
@media only screen and (max-width : 1299px) {
  * {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  #maincontent {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-left: 10vw;
  }

  #maincontenttitel {
    font-size: 3.5em;
    margin: 2px;
    color: red;
    font-family: helvetica;
    overflow-y: hidden;
    text-align: right;
  }

  #maincontenttext {
    font-size: 3.5em;
    color: black;
    font-family: helvetica;
    overflow-y: hidden;
    direction: rtl;
  }
}

/* desktop version */
@media only screen and (min-width : 1300px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #maincontent {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin-left: 30vw;
    margin-right: 30vw;
  }

  #maincontenttitel {
    font-size: 8em;
    color: red;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: helvetica;
    overflow-y: hidden;
  }

  #maincontenttext {
    font-size: 8em;
    color: black;
    margin: 10px;
    font-family: helvetica;
    overflow-y: hidden;
    direction: rtl;
  }
}
